body {
    background-image: url(../images/background\ 1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

html {
    font-family: "Robotog";
}

.header {
    width: 1030px;
    margin: auto;
    margin-top: 51px;
    margin-bottom: 26px;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

.main-logo {
     display: flex;
}

.logo {
    height: 53px;
    height: 47px;
    position: relative;
    margin-right: 8px;
}

.second-logo .first-logo {
    width: 100%;
    height: 100%;
}

.second-logo {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.second-logo:hover {
    opacity: 1;
}

.header-logo-link {
    text-decoration: none;
    color: white;
}

.main-title:hover {
    color: rgba(242, 101, 34, 1);
}

p.title-1 {
    font-size: 29px;
    margin-bottom: 4px;
}

p.title-2 {
    font-size: 18px;
}

.contacts-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.contacts {
    text-align: left;
}

.contact-email {
    margin-bottom: 19px;
}

.contact-phone {
    text-align: left;
    padding-left: 67px;
}

a.contacts-link:hover {
    color: rgba(242, 101, 34, 1);
}

.main-content {
    width: 1030px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 260px);
    column-gap: 65px;
    row-gap: 37px;
    margin-bottom: 48px;
}

.card {
    box-sizing: border-box;
    width: 300px;
    height: 260px;
    position: relative;
}

.img-info {
    height: 25%;
    width: 100%;
    background-color: rgba(242, 101, 34, 1);
    position: absolute;
    bottom: 40px;
    left: 0;
    opacity: 0;
}

.card:hover .img-info {
    opacity: 1;
}

.card:hover .card-title {
    opacity: 1;
}

.card:hover .card-title {
    color: rgba(242, 101, 34, 1);
}

.card-title {
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
}

.info-content {
    color: white;
    margin: 8px;
    width: 300px;
    height: 65px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.price-content-2 {
    grid-area: 2 / 2 / 3 / 3 ;
    
}

p.price-link {
    grid-area: 1 / 2 / 2 / 3 ;
    font-size: 20px;
}

p.price-content-2::after {
    content: ">";
    margin-left: 10px;
}

.footer {
    width: 1030px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-text {
    color: white;
    font-size: 12px;
}

